html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    background-image: linear-gradient(90deg, pink, pink);
    font-size: x-large;
}

.layout {
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 10% 85% 5%;
}

.layout, .layout > * {
    border: 1px solid;
}

header, footer {
    grid-column: span 6;
}

main {
    grid-column: span 5;
    overflow: auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    flex-direction:column ;
    gap: 40px;
    padding-top: 40px ;
}

a {
    color: blue;
}

.active {
    color: green;
    font-family: Arial;
}

.main-paragraph {
    margin: 40px 40px 70px 40px;
    text-align: justify;
}

.animals-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.animals-container > img {
    width: 200px;
    height: 200px;
    border: 1px solid;
}

.form-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    margin: 20px auto;
}

table, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px;
}

input, textarea, button {
    width: 300px;
}

textarea {
    height: 70px;
}